vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jan 2003 22:39:44 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|DemoLib.html FBKs/FBKs.html General/C-Informations.html General/Requirements.html General/Status\\ Numbers.html Samples/AB/AB.html General/General.html Samples/AB/ex_ab_CalcChecksum.html General/History.html Samples/Samples.html FBKs/CalcChecksum.html
vti_author:SR|BRATEGGE\\neuboeckl
vti_modifiedby:SR|BRATEGGE\\neuboeckl
vti_timecreated:TR|20 Jan 2003 22:39:44 -0000
vti_cacheddtm:TX|20 Jan 2003 22:39:44 -0000
vti_filesize:IR|1103
vti_lineageid:SR|{28340B2F-28E2-4F45-996F-FB634232C5C2}
