vti_encoding:SR|utf8-nl
vti_author:SR|ATEGGE622\\enzingert
vti_timecreated:TR|10 Oct 2001 12:12:04 -0000
vti_modifiedby:SR|BRATEGGE\\neuboeckl
vti_lineageid:SR|{DFE9B879-A4AB-4B1E-B4A5-60F91E5CE454}
vti_backlinkinfo:VX|FBKs/FBKs.html DemoLib.html General/Status\\ Numbers.html Samples/AB/AB.html Samples/AB/ex_ab_CalcChecksum.html Samples/Samples.html FBKs/CalcChecksum.html
vti_extenderversion:SR|5.0.2.2623
vti_timelastmodified:TR|15 Dec 2003 15:34:50 -0000
vti_cacheddtm:TX|15 Dec 2003 15:34:50 -0000
vti_filesize:IR|4097
